/* #0B0D0B, #115916, #548C58, #F2F2F2, #BFBFBF CORES CARD */
/* #1E261F #115916 #41BF49 #D4D955 #F2F2F2 CORES GERAL  5a5858*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;

  font-size: 16px;
}

.header__picture img {
  width: 50px;
  border-radius: 50%;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  color: #135019;
  font-size: 3rem;
}

.header__search i {
  color: #135019;
}

#main {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
  gap: 8rem;
}

/* .main__section {
  display: flex;
  justify-content: space-evenly;
} */

.main__card {
  display: flex;
  gap: 1rem;
}

.main__card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
}

.main__card-picture {
  width: 200px;
}

.main__card-picture img {
  width: 100%;
}

.p-content {
  color: #6c6c6c;
  font-weight: 800;
}

.span-content {
  color: #0b0d0b;
  font-weight: 800;
}

.main__card-title {
  color: #135019;
}

.footer {
  background-color: #033708;
  display: flex;
  justify-content: center;
}

.footer__content {
  padding: 2rem 0 2rem 0;
}

.footer__list {
  display: flex;
}
